.main-block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items a{
  text-decoration: none;
}

.item-block{
  top: 0;
  width: 20%;
  padding: 16px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  box-shadow: #626263 1px 1px 3px;
}
.item-block img{
  width: 200px;

}

.description{
  max-height: 90px;
  overflow: hidden;
}
